{{#each errors}}
<div class="alert alert-danger">{{text}}</div>
{{/each}}
<div class="card">
    <div class="card-body">
        <h2>Cadastro Post</h2>
        <form action="/admin/post/new" method="post">
            <div class="form-group">
                <label for="category">Categorias</label>
                <select name="category" id="category" class="custom-select">
                    {{#each categories}}
                        <option value="{{_id}}">{{name}}</option>
                    {{else}}
                        <option value="0">Nenhuma categoria</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <label for="title">Titulo</label>
                <input name="title" required type="text" class="form-control" id="title" aria-describedby="title">
            </div>
            <div class="form-group">
                <label for="slug">Slug</label>
                <input name="slug" required type="text" class="form-control" id="slug">
            </div>
            <div class="form-group">
                <label for="description">Descrição</label>
                <input name="description" required type="text" class="form-control" id="description">
            </div>
            <div class="form-group">
                <label for="content">Conteudo</label>
                <textarea name="content" id="content" class="form-control" cols="30" rows="10"></textarea>
            </div>
            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </form>
    </div>
</div>