<div class="card mt-4">
    <div class="card-body">
        <h1>{{post.title}}</h1>
        <hr>
        <small>Data da publicação: {{post.date}}</small><br>
        <p>Descrição: {{post.description}}</p>
        <hr>
        {{post.content}}
    </div>
</div>